* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF;
  font-family: Verdana, Arial, sans-serif
}

main {
  padding: 1em;
}

.asection {
  font-size: 35px;
  font-family: Verdana;
  font-weight: bold;
  color: #ef8965;
}

.titulo {
  font-size: 55px;
  color: #775548;
  padding: 1em 0 1em 0;
}

.borde-marron {
  width: 100%;
  background-color: #775548;
  color: #d7c2b7;
  padding: 5px;
}

li {
  color: #775548;
  font-family: Verdana;
}

ul, ol {
  padding: 2em 0 3em 2em;
}

.ul-ordenada {
  padding-top: 0;
  padding-bottom: 0;
}

.resaltado {
  font-weight: bolder;
}

.subtitulo-section {
  font-weight: 100;
}

.mb {
  margin-bottom: 1em;
}

.link-li, .enlace {
  font-family: Verdana;
  color: #ef8965;
  font-weight: 700; 
}

.link-diario {
  font-weight: bolder;
  color: #7bc0d2;
}

.link-diario:visited {
  color: #ef808c;
}

.amarillo {
  color: #d4a83d;
}

.footer-txt {
  background-color: transparent;
  color: #d4a83d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

footer {
  position: relative;
  height: 100px; 
  background-color: rgba(0, 0, 0, 0.734);
}
